---
import Base from "../components/Base.astro"
import Header from "../components/Header.astro"
import { SITE_TITLE, SITE_DESCRIPTION, SITE_PREVIEW_IMAGE } from "../consts"
import Navigation from "../components/Navigation.astro"

interface Props {
  tab_title?: string
  tab_description?: string
  tab_icon?: string
  title?: string
  callout?: string
  description?: string
}

const {
  tab_title = SITE_TITLE,
  tab_description = SITE_DESCRIPTION,
  tab_icon = SITE_PREVIEW_IMAGE,
  title,
  callout,
  description,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Base title={tab_title} description={tab_description} image={tab_icon} />
  </head>

  <body class="font-jbmono bg-light">
    <Navigation />
    {title && <Header title={title} callout={callout} />}
    <main>
      <slot />
    </main>
  </body>
</html>
