---
import { getCollection, type CollectionEntry } from "astro:content"

import Callout from "@/components/Callout.astro"
import MainLayout from "@/layouts/MainLayout.astro"

type Booknote = CollectionEntry<"booknotes">

const booknotes: Booknote[] = (await getCollection("booknotes")).sort(
  (a: Booknote, b: Booknote) => b.data.id - a.data.id,
)

const total_notes = booknotes.reduce((acc, book) => acc + book.data.notenum, 0)
---

<MainLayout title="Booknotes">
  <Callout slot="callout">{`Total: ${total_notes} entries`} </Callout>

  <section class="mx-auto w-full max-w-screen-xl px-8 pb-12 md:px-10 md:pb-24 lg:px-24">
    <div class="mx-auto max-w-5xl">
      <table class="w-full table-auto border-collapse">
        <thead>
          <tr>
            <th class="w-5/12 px-2 py-2 text-left sm:w-auto sm:px-4">Title</th>
            <th class="w-5/12 px-1 py-2 text-left sm:w-auto sm:px-4">Author</th>
            <th class="w-1/6 whitespace-nowrap px-1 py-2 text-center sm:w-auto sm:px-4">Count</th>
            <th class="hidden px-4 py-2 text-center md:table-cell">Rating</th>
            <th class="hidden max-w-[30vw] px-4 py-2 text-left md:table-cell">Tags</th>
          </tr>
        </thead>
        <tbody class="border-b border-gray-500 font-article">
          {
            booknotes.map((book, index) => (
              <tr class={`${index === 0 ? "border-black" : "border-gray-500"} border-t`}>
                <td class="w-3/6 overflow-hidden overflow-ellipsis px-2 py-2 text-base sm:w-auto sm:px-4">
                  <a
                    href={`/book/${book.data.title}/`}
                    class="font-medium underline decoration-1 underline-offset-2 hover:decoration-2"
                  >
                    {book.data.title}
                  </a>
                </td>
                <td class="w-2/6 overflow-hidden overflow-ellipsis px-1 py-2 sm:w-auto sm:px-4">
                  {book.data.author}
                </td>
                <td class="w-1/6 whitespace-nowrap px-1 py-2 text-center font-jbmono sm:w-auto sm:px-4">
                  {book.data.notenum}
                </td>
                <td class="hidden px-4 py-2 text-center font-jbmono md:table-cell">
                  {book.data.rating.toFixed(1)}
                </td>
                <td class="hidden max-w-[30vw] px-4 py-2 md:table-cell">
                  <div class="flex flex-wrap gap-2 overflow-hidden">
                    {book.data.tags.map((tag: string) => (
                      <span class="inline-block rounded-sm bg-gray-200 px-2 py-1 text-sm text-gray-700">
                        {tag}
                      </span>
                    ))}
                  </div>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </section>
</MainLayout>
